* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    width: auto;
    height: 80px;
    background-color: cadetblue;
    position: relative;
}

.header img {
    
    float: left;
    width: 120px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
}

.header nav {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.header ul {
    list-style: none;
    margin-top: 10px;

}

.header li {
    display: inline-block;
    font-size: 25px;
}

.header a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 30px;
    padding-top: 10px;
}

.introduction {
    text-align: center;
}

.introduction h4 {
    font-size: 30px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email {
    width: 20%;
    height: 30px;
    margin-bottom: 10px;
} 

.getstarted {
    background-color: yellowgreen;
    width: 10%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: none;
}



