body {
    background: URL(./src/background.png);
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.header h3{
    color: white;
    margin-bottom: 15px;
}

.header h5 {
    margin-top: 0;
    color: white;
    font-style: italic;
    
}

#survey {
    background: #1b1b32;;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    color: white;
    margin: auto;
    padding: 40px 40px 40px 40px;
    box-sizing: border-box;
    height: auto;
    width: 800px;
}

.form-group {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    
}

.form-group input {
    border-radius: 5px;
    display: inline-block;
    width: 700px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-group1 select {
    border-radius: 5px;
    display: inline-block;
    width: 710px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-group5 textarea {
    display: inline-block;
    width: 710px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.submit-button {
    width: 720px;
    height: 50px;
    background-color:#68e183 ;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}


