* {    
    font-family: 'Roboto', sans-serif;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;

}

.header {
    background-color: beige;
    text-align: center;
    height: 120px;
    margin: 0;
    margin-top: 0px;

}
body {
 text-align: center;
}

.header h1 {
    padding: 0;
}

.header p {
    padding: 0;
}

.img-responsive {
    max-width: 100%; 
    display:block; 
    height: auto;
    margin : 0 auto;
    
}
.gambar h5 {
    margin-top: 0;
}
.pejalanan {
    margin: 0;
    background-color: beige;
}
.pejalanan ul {
    list-style: none;
}

.pejalanan span {
    font-weight: bold;
}